@font-face {
	font-family: "DINNextLTProRegular";
	src: url('../../files/fonts/DINNextLTPro-Regular.otf') format('opentype');
}
@font-face {
	font-family: "DINNextLTProBold";
	src: url('../../files/fonts/DINNextLTPro-Bold.otf') format('opentype');
}
.main_body {
	margin-top:0px;
}
.fill_container {
	margin-top:1px;
}
.album_name_textbox {
	min-width:400px;
	font-weight:bold;
	border:0px;
	padding:0px;
	margin:0px;
	background-color:transparent;
	float:left;
	font-size:16px;
	font-weight:bold;
	color:#010101;
	font-family: "DINNextLTProRegular";
	height:46px;
	line-height:46px;
}
.featured_label {
	width:199px;
	float:right;
	text-align:right;
}
